.imgCiclo{
    background-image: 
      linear-gradient(to top, #000, transparent),
      url('../IMAGENS/imagemFundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}








.ciclo-container{
    height: 95%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    padding-bottom: 5%;
}



.tituloContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: larger;
}   

.ciclo-content{
    border-radius: 13px;
    background-color: white;
    padding: 3%;
}

.subTitulo-ciclo{
    color: white;
    width: 90%;
}


.ciclo-content p{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;
    text-align: justify;
}


.conteudo{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.visivel{
    opacity: 1;
    transform: translateY(0px);
}