
html, body{
    height: 100%;
    margin: 0;
    font-family: "Montserrat" ,Arial, Helvetica, sans-serif;
}

  


p{
    text-shadow: 5px 4px 5px rgb(0,0,0);
}

.imag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid{
    display: flex;
    justify-content: center;
    align-items: center;
}



.imgHome{
    background-image: 
      linear-gradient(to top, #000000af, transparent),
      url('../IMAGENS/imagemFundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}




.container{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.titulo-mapa{
    display: flex;
    width: 85%;
    color: white;
    font-size: larger;
}

.mapa-container{
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
}


.mapa{
    border-radius: 10px;
    width:70%;
    height: 60%;
    width: 88%;
}

.mapa-voltar{
    margin-top: 10px;
    width: 60%;
    background-color: #ce1a1dc3;
    border-radius: 25px;
    box-shadow: 4px 4px 10px 1px;
    border: none;
    text-align: center;
    align-content: center;
}


.mapa-voltar p{
    color: white;
    font-size: xx-large;
}


.botao{
    height: 8em;
    width: 80%;
    background-color: rgba(224, 63, 61, 0.316);
    border-radius: 25px;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.269);
    border: none;
    text-align: center;
    align-content: center;
}

.botao p{
    color: white;
    font-size: 1.25em;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: inherit;
}

.voltar{
    width: 80%;
    background-color: #ce1a1c;
    border-radius: 25px;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.269);
    border: none;
    text-align: center;
    align-content: center;
}

.voltar p{
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 5px 4px 10px rgb(0,0,0);
}


.midBotao{
    width: 80%;
    display: flex;
    gap: 18px;
}


.flex{
    display: flex;

}